/* General */
:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --title-grey-color: #2F303A}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    background-color: #FFFFFF;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

}

.list {
    list-style: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}
/* Header style */
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
}
.logo-start {
    color: var(--accent-color);
}
.site-nav .link {
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-contacts .link:hover,
.site-contacts .link:focus {
color: var(--accent-color);
}
.site-contacts .link{
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;
}
/* Hero */
.hero {
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--title-grey-color);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.1;
    color: var(--primary-white-color);
}
.primary {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9; 
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
/* Features */
.hidden-text {
    display: none;
}
.section-title {
    font-weight: 700;
    text-align: center;
}
.features-title {
    font-weight: 700;
    line-height: 1.3;    
}
.features-text {
    line-height: 1.7;
    color: var(--title-text-color);
}
.member {
    font-weight: 500;
    font-size: 16px;
}
.position {
    color: var(--title-text-color);
}
footer {
    background-color: var(--title-grey-color);
}
.logo-end {
    color: var(--primary-white-color);
}
.footer-communication .link {
    font-style: normal;
    line-height: 1.7;
    text-decoration: none;
}
.footer-address {
    color: var(--primary-white-color);
}
.footer-contact {
    color: rgba(255, 255, 255, 0.6);;
}
